.iconBtn {
    color: #929eae;
    transition: all .1s ease;
}

.iconBtn > svg {
    transition: all .1s ease;
}

.iconBtn:hover {
    color: #1a202c;
}

.iconBtn:hover > svg {
    transform: scale(1.3, 1.3);
}

.dropMenuBtn {
    width: 100%;
    padding: .3rem .4rem;
    color: #1a202c;
    background-color: rgb(240, 240, 240);
}

.dropMenuBtn:hover {
    color: #1a202c;
    background-color: #929eae;
}

.disabledIconBtn {
    color: #b5bdc9;
}

.task-label {
    cursor: pointer;
}

